<h1>My portfolio</h1>
<div id="error" align="center">
</div>
<h3>Search Stock</h3>
<div id="stock-lookup">
<%= form_with method: :get, url: stocks_search_path do |f| %>
    <div class="form group">
        <%= f.text_field :Search, class: "form-control" %>
        <%= f.submit "Search", class: "btn btn-lg btn-success form-control" %>
    </div>
<% end %>
</div>

<div id="result">
</div>